<md-card>
  <!--<md-card-subtitle>Login</md-card-subtitle>-->
  <md-card-title>Login</md-card-title>
  <md-card-content>

    <p>
      <md-input-container>
        <input md-input [(ngModel)]="email" placeholder="Email" type="text">
      </md-input-container>
    </p>

    <p>
      <md-input-container>
        <input md-input [(ngModel)]="password" placeholder="Password" type="password">
      </md-input-container>
    </p>

  </md-card-content>
  <md-card-actions>
    <button md-button (click)="login()">Login</button>
  </md-card-actions>
</md-card>