<!--
<ul>
  <li class="text" *ngFor="let item of items$ | async">
    {{item.$value}}
  </li>
</ul>


<md-icon>home</md-icon>-->



<md-toolbar color="primary">
  <span>Recruitment System</span>
  <span class="spacer"></span>
  <button md-raised-button *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active" color="primary">Login</button>
  <button md-raised-button *ngIf="!isLoggedIn()" routerLink="/signup" routerLinkActive="active" color="primary">Signup</button>
  <button md-raised-button *ngIf="isLoggedIn()" (click)="dashboard()" routerLinkActive="active" color="primary">Home</button>
  <button md-raised-button *ngIf="isLoggedIn()" (click)="signOut()" color="primary">Logout</button>
  
</md-toolbar>

<router-outlet></router-outlet>